body{
    text-align: center;
    padding: auto;
}

h1{
    font-size: x-large;
}

#navBar{
    height: 100px;
    background: crimson;
    color: white;
    font-size: xx-large;
    padding-top: 30px;
}

#employeeCards{
    padding-top: 50px;
}

.employeeCard{
    height: 250px;
    width: 250px;
    display: inline-block;
    text-align: left;
    border: 1px solid orange;
    margin: 20px 20px;
}

.cardHead{
    height: 75px;
    background-color: blue;
    color: white;
    line-height: 1.75;
    padding-left: 5px;
}

.memberInfo{
    line-height: 3.5;
}
